@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
  /*========== Colors ==========*/
  --first-color: hsl(30, 16%, 50%);
  --text-color: #fff;
  --text-color-black: hsl(30, 8%, 15%);
  --body-color: hsl(30, 100%, 98%);

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --h3-font-size: 1rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --h3-font-size: 1.125rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== GALLERY ===============*/
.gallery {
  display: grid;
  height: 100vh;
  align-content: center;
  justify-content: center;
}

.gallery__card {
  position: relative;
  width: 208px;
  height: 268px;
  border-radius: 3rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.gallery__card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 32%, hsla(0,0%,0%,.3) 100%);
}

.gallery__img {
  position: absolute;
  inset: 0;
  margin: auto;
  transition: transform .3s;
}

.gallery__data {
  position: absolute;
  bottom: 1.5rem;
  left: 1.75rem;
  z-index: 10;
}

.gallery__title,
.gallery__subtitle {
  color: var(--text-color);
  font-weight: 500;
}

.gallery__title {
  font-size: var(--h3-font-size);
}

.gallery__overflow {
  position: relative;
}

.gallery__thumbnail {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 1.5rem;
  overflow: hidden;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  transition: transform .3s;
}

.gallery__thumbnail-img {
  position: absolute;
  inset: 0;
  margin: auto;
}

/* Swiper class */
.gallery .swiper-wrapper {
  padding: 2.5rem 0;
}

.gallery-cards,
.gallery-thumbs {
  width: 260px;
}

.gallery-cards:hover .gallery__img {
  transform: scale(1.1);
}

.gallery-thumbs {
  height: 132px;
}
/* Active thumbnail */
.swiper-slide-active .gallery__thumbnail {
  transform: translateY(-1.25rem) scale(1.2);
}

/* Rotate thumbnail */
.swiper-slide-next .gallery__thumbnail {
  transform: rotate(15deg);
}

.swiper-slide-prev .gallery_thumbnail {
  transform: rotate(-15deg);
}

/* Arrow buttons */
.swiper-button-next, .swiper-button-prev {
  font-size: 1.5rem;
  color: var(--text-color-black);
  top: 5.5rem;
}

.swiper-button-next {
  right: -1.5rem;
  transform: rotate(15deg);
}

/* 20230211 */
/* 탭메뉴 */
.tab_wrap {max-width: 800px;margin: 50px auto 0;padding: 0 15px;}
.tab_wrap .tab_list {position: relative;font-size: 0;}
.tab_wrap .tab_list:before {content:'';position: absolute;bottom: 0;left: 0;width: 100%;height: 1px;background: #ddd;z-index: 1;}
.tab_wrap .tab_list > li {display: inline-block;vertical-align: top;margin-right: 3px;}
.tab_wrap .tab_list > li button {display: inline-block;padding: 10px 15px;border: 1px solid #fff;border-radius:4px 4px 0 0;font-size: 14px;color: #000;text-decoration: none;cursor: pointer;}
.tab_wrap .tab_list > li.active button {position: relative;border-color: #ddd;border-bottom: 1px solid #fff;background: #fff;color: #337ab7;z-index: 2;}
.tab_wrap .tab_content {border: 1px solid #ddd;border-top: none;}
.tab_wrap .tab_content .tab_group:not(.active) {display: none;}

/* 슬라이드 */
.main_feature_swiper {text-align: center;font-size: 0;}
.main_feature_swiper .main_feature_inner {overflow: hidden;width: 100%;margin: 0 auto;}
.main_feature_swiper .main_feature_slide_list {white-space: nowrap;}
.main_feature_slide_list .main_feature_slide_list_item {display: inline-block;width: 25%;height: 150px;margin-right: 14px;text-align: center;background: #ade9ff;font-size: 20px;line-height: 150px;color: #000;}
.main_feature_swiper .swiper-prev,
.main_feature_swiper .swiper-next {display: inline-block;width: 35px;height: 35px;margin:30px 15px 0;background:url('https://ctrlcccv.github.io/swiper-tab/images/arrow.png') center center no-repeat;background-size: cover;text-indent: -999em;cursor: pointer;}
.main_feature_swiper .swiper-prev {transform: rotateY(180deg);}
